[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
bumpversion = "*"
wheel = "*"
watchdog = "*"
flake8 = "*"
tox = "*"
coverage = "*"
pytest = "*"
pytest-runner = "*"
PyInstaller = "*"
Sphinx = "*"
twine = "*"
ipython = "*"

[packages]
gfw_creator = {editable = true, path = "."}
click = "*"
xarray = "*"
netcdf4 = "*"
cdo = "*"
pkg = {git = "https://github.com/Try2Code/cdo-bindings", subdirectory = "python"}
